{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <a href="/">&larr; Back to /</a><br />
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="span8 offset2">
            <h1>Poof! <small>404: Not Found</small></h1>
            <p>Whatever you were looking for apparently doesn't exist anymore.</p>
            <p>Try going <a href="/">back to civilization.</a></p>
        </div>
    </div>
{% endblock %}
