{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <a href="/">&larr; Back to /</a><br />
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="span8 offset2">
            <h1>Oops! <small>500: Internal Server Error</small></h1>
            <p>Something bad happened while trying to load this page. Sorry about that.</p>
            <p>You could try again or <a href="/">go back to civilization.</a></p>
        </div>
    </div>
{% endblock %}
